.navbar-main{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(219, 219, 219);
    display: flex;
}

.nav-left{
    flex: 1;
    margin-left: 3%;
    display: flex;
    align-items: center;

}

.nav-right{
    flex: 1;
    margin-right: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.btn-navbar{
    height: 30px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;

}

.btn-navbar{
    background-color: darkred;
}